<!doctype html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="container">
            <h2>User Table</h2>
            <table class="table table-striped table-bordered" id="userTable">
            </table>
            
            <h2>Conferences Table</h2>
            <table class="table table-striped table-bordered" id="conferenceTable">
            </table>  
        </div>
        
        <%- include('../partials/scripts') %>
        <script>
            $('#userTable').dataTable({
              "bProcessing" : true,
              "bServerSide" : true,
              "ajax" : { url: '/datatables/users' },
		      "columns" : [
    		    { data : "_id",
    		      title: "User ID",
    		      render: function(data, type, row, meta) {
    		          return "<a href=/admin/users/" + data + "/edit>" + data + "</a>";
    		      }  
    		    },
    		    { data : "email",
    		      title: "Email"},
    		    { data : "firstname",
    		      title: "First Name"},
    		    { data : "lastname",
    		      title: "Last Name"}
		      ]
            });
            
            $('#conferenceTable').dataTable({
              "bProcessing" : true,
              "bServerSide" : true,
              "ajax" : { url: '/datatables/conferences' },
		      "columns" : [
    		    { data : "_id",
    		      title: "Conference ID",
    		      render: function(data, type, row, meta) {
    		          return "<a href=/admin/conferences/" + data + "/edit>" + data + "</a>";
    		      }
    		    },
    		    { data : "name",
    		      title: "Name"},
    		    { data : "startDate",
    		      title: "Start Date"},
    		    { data : "endDate",
    		      title: "End Date"}
		      ]
            });
        </script>
    </body>
</html>