<!doctype html>
<html>
    <head>
       <%- include('./partials/head') %>
    </head>
    <body>
        <div class="container">
            <%- include('./partials/flash') %>
            <div class="jumbotron" style="position:fixed; top: 0; left:0; width: 100%; height: 100%;">
                <div style="position:relative; top: 45%; text-align: center;">
                    <h2>Welcome to Confer</h2>
                    <a class="btn btn-primary btn-lg" href="/auth/login" role="button">Log In</a>
                    <a class="btn btn-link btn-lg" href="/auth/signup" role="button">Sign Up</a>
                </div>
            </div>
        </div>
        <%- include('./partials/scripts') %>
    </body>
</html>